@{
    ViewData["Title"] = "Get To Know Joel";
}

@{
    ViewBag.Title = "Get To Know Joel";
}

<div>
    <h1 class="display-4">Get To Know Joel</h1>
</div>
<div>
    <p>Here are some links to help you get to know Joel:</p>
    <ul>
        <li>
            <a href="https://www.qwcomedy.com/">
                Quick Wits Comedy (Where Joel Performs Regularly)
            </a>
        </li>
        <li>
            <a href="https://baconsale.com/">
                Bacon Sale Site (Joel's Personal Website)
            </a>
        </li>
    </ul>
    <a href="https://baconsale.com/">
        <img src="~/imgs/BaconsaleKate.jpg" alt="Joel's Website Baconsale">
    </a>
</div>