@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>

<br />

<div class="text-center">
    <p>Prepare to be amazed...</p>
    <img src="~/imgs/JoelHiltonHeadshot.jpg" />
</div>